main {
    /*background-color: white;*/
    /*height: 200px;*/
    background-color: rgba(255, 255, 255, 0.0);
}

.panel {
    position: relative;
}

.panel_wyboru{
    height: 515px;
    width: 210px;
    background-color: rgba(0, 0,0,0.7);
    /*opacity: 0.1;*/
    float: left;
    z-index: 2;
}

.koszulka {
    background-image: url('../images/koszulka2.png');
    filter:brightness(7.0) grayscale(100%);
    height: 250px;
    width: 210px;
    /*background-position: center;*/
    background-size: contain;
    /*margin-left: 0px;*/
    /*background-position: center;*/
    /*background-position: contain;*/
    background-repeat: no-repeat;
    position: relative;
}

.koszulka_ksywka {
    background-color: black;
    padding: 2px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    position:absolute;
    top: 90px;
    left: 60px;
    width:86px;
    border-radius: 45% 45% 0% 0%;
    padding-top: 4px;
}

.lista_spotkan {
    background-color: rgba(255,255,255,0.4);
    display: inline-block;
    /*position: relative;*/
    z-index: 1;
    /*width: 500px;*/
}
.okno_spotkania {
    /*float: left;*/
    position: relative;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    /*height: 100px;*/
    width: 400px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-bottom: solid black;
    border-radius: 0%;
    /*box-shadow: 0px 0px 3px 5px black;*/
    cursor:pointer;
    /*z-index: 99;*/
    letter-spacing:1px;
}
.okno_spotkania:hover {
    /*background-color: lightgrey;*/
    box-shadow: 0px 0px 2px 2px red;
}

.ikonka {
    float: right;
}

.pilka {
    background-image: url('../images/football.png');
    background-color: white;
    position: absolute;
    /*padding-right: 5px;*/
    height: 28px;
    width: 28px;
    /*right: 0px;*/
    background-size: contain;
    background-repeat: no-repeat;
    z-index:2;

}

.pilka1 {
    background-image: url('../images/basketball.png');
    background-color: white;
    position: absolute;
    /*padding-right: 5px;*/
    height: 28px;
    width: 28px;
    /*right: 0px;*/
    background-size: contain;
    background-repeat: no-repeat;
    z-index:2;

}
.pilka2 {
    background-image: url('../images/volleyball.png');
    background-color: white;
    position: absolute;
    /*padding-right: 5px;*/
    height: 28px;
    width: 28px;
    /*right: 0px;*/
    background-size: contain;
    background-repeat: no-repeat;
    z-index:2;

}

.clear {
    clear: both;
}

.okno_spotkania .szczegoly div {
    padding-top: 5px;
    padding-left: 5px;
}

.godzina {
    font-size:20px;
    font-weight: 900;
    text-shadow: black;
    text-align: center;
}

main h1 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: black;
    /*margin-left:28px ;*/
    /*border-radius: 21% 21% 88% 88%;*/
    z-index: 1;
    color: white;
}

.liczba_zapisanych1 {
    background-color: #54b009;
    padding-top: 1px;
    padding-bottom: 1px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    text-align: center;
    /*border-radius: 44% 44% 88% 88%;*/
}
.liczba_zapisanych2 {
    background-color: orange;
    padding-top: 1px;
    padding-bottom: 1px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    text-align: center;
    /*border-radius: 44% 44% 88% 88%;*/
}

.infobox {
    display: inline-block;
    position: absolute;
    right:0px;
    background-color: rgba(255,255,255,0.4);
    /*height: 300px;*/
    width: 300px;
    height: 400px;
    font-family: "Times New Roman" sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 14px;
    /*border: solid red;*/
    border: none;
    /*border-radius: 10% 10% 0%0%;*/
    /*box-shadow: 0px 0px 1px 1px black;*/
    /*z-index: 99;*/
}

.infobox .naglowek {
    font-family: "Alfa Slab One", serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ed1c1c;
    /*border-radius: 50% 50% 0% 0%;*/
    border-bottom:solid black;
    /*font-size:15px;*/
    color: black;
    opacity:0.8;
}

.infobox .wiadomosc {
    color:black;
    opacity:0.7;
    border-bottom: solid black;
    border-width: 1px;
    padding: 12px;

    margin-left: 30px;
    cursor:pointer;
    font-weight: 900;
    /*position: relative;*/
}

.mycz {
    background-image: url('../images/mycz.jpg');
    background-size: contain;
    height: 38px;
    width: 38px;
    position: absolute;
    background-repeat: no-repeat;
    border-bottom: solid black;
    border-width: thin;
}

.infobox .wiadomosc:hover {
    opacity: 1.0;
    background-color: rgba(255,255,255,0.4);

}

.infobox .artykul {
    color:black;
    opacity:0.7;
    border-bottom: solid black;
    border-width: 1px;
    padding: 5px;
    cursor:pointer;
}

.infobox .artykul:hover {
    opacity: 1.0;
    background-color: rgba(255,255,255,0.4);

}
.szczegoly h2 {
    font-family: 'Montserrrat', sans-serif;
    color:black;
    font-weight: 900;
    font-size: 16px;
}
.pokaż {
    background-color: black;
    color:white;
    width: 90px;
    margin-left:290px;
}